.vs/
Binaries/
Build/
Content/Collections/
Content/Developers/
Content/StarterContent/
DerivedDataCache/
Intermediate/AssetRegistryCache/
Intermediate/Build/Unused/
Intermediate/Build/Win64/
Intermediate/Config/
Intermediate/ReimportCache/
Intermediate/Staging/
Package/
Saved/

*.bin
*.vcxproj.user
