.vs/
Binaries/
#Build/
Content/Collections/
Content/Developers/
Content/StarterContent/
DerivedDataCache/
Intermediate/AssetRegistryCache/
#这个不能忽略 Intermediate/Build/BuildRules/
Intermediate/Build/Unused/
Intermediate/Build/Win32/
Intermediate/Build/Win64/
Intermediate/Config/
Intermediate/ReimportCache/
Intermediate/Staging/
Package/
Saved/
SkyBoxTestClient/

*.bin
*.vcxproj.user
*.log
